<br><br>
<div class = "bootstrap-wrapper">
        <div class = "col-md-8 offset-md-2">
          <mat-card>
            <br><br>
            <h1 class = "text-center">Detalles de la Salida</h1>
            <br><br>
                    <mat-label class = "full-width">Fecha</mat-label>
                    <input required class = "full-width" [(ngModel)]="fechaSalidaForm" placeholder="Introduzca su nombre de usuario">
                <br><br>
                    <mat-label class = "full-width">Hora</mat-label>
                    <input required class = "full-width" [(ngModel)]="fechaEntradaForm" matInput placeholder="Introduzca su nombre de usuario">
                <br><br>
                    <mat-label class = "full-width">Destino</mat-label>
                    <input required class = "full-width" [(ngModel)]="destinoForm" matInput placeholder="Introduzca su contraseña">
                <br><br>
                    <mat-label class = "full-width">Patron</mat-label>
                    <input required class = "full-width" [(ngModel)]="patronForm" matInput placeholder="Introduzca su nombre de usuario">
                <br><br>
                    <mat-label class = "full-width">Barco</mat-label>
                    <input required class = "full-width" [(ngModel)]="barcoForm" placeholder="Introduzca su contraseña">
                <br><br>
    
                <br><br><br><br>
              <div class = "container text-center">
                <button type = "submit" mat-raised-button color="primary" (click)="guardarSalida()">Guardar salida</button>
              </div>

          </mat-card>
        </div>
  </div>