<br><br>
<div class = "bootstrap-wrapper">
    <div class = "container">
      <div class = "row mt20">
        <div class = "col-md-4 offset-md-4">
          <mat-card>
            <br><br>
            <h1 class = "text-center">Inicio de sesión</h1>
            <br><br>
            <form>
              <mat-form-field class = "full-width"  appearance = "outline">
                <mat-label>Nombre de usuario</mat-label>
                <input name = "username" required  matInput placeholder="Introduzca su nombre de usuario">
                <mat-hint>El nombre de usuario debe ser valido</mat-hint>
              </mat-form-field>
              <br><br>
              <mat-form-field class="full-width"  appearance = "outline">
                <mat-label>Contraseña</mat-label>
                <input name = "password" required  type="password" matInput placeholder="Introduzca su contraseña">
                <mat-hint>La contraseña debe ser valida</mat-hint>
              </mat-form-field>
  
              <br><br><br><br>
  
              <div class = "container text-center">
                <button type = "submit" mat-raised-button color="primary">Iniciar sesión</button>
              </div>
              <br><br>
            </form>
          </mat-card>
        </div>
      </div>
    </div>
  </div>